

h1.error-404 {
  text-align: center;
  font-size: rem-calc(100);
  @include breakpoint(medium down) {  
    small {
      //display: block;
      font-size: rem-calc(60);
    }
  }
}
p {
  &.large {
    text-align: center;
    font-size: rem-calc(60);
  }
}
