h1.error {
  text-align: center;
  font-size: rem-calc(100);
  @include breakpoint(medium down) {  
    small {
      //display: block;
      font-size: rem-calc(60);
    }
  }
}
p {
  text-align: center;
  font-size: rem-calc(30);
  &.large {
    font-size: rem-calc(60);
  }
}
