
@import "logo-area";
@import "topbar";
.mainContent {
  border: solid 1px #888;
  @include border-radius(4px);
  //@include box-shadow(#888 3px 0px 8px 4px);
  padding: rem-calc(0 10 0 10);// top right bottom left
  margin: rem-calc(10 0 20 0); // top right bottom left
  @include box-shadow(#888 0px 3px 8px 4px);
  background: #eaeaea;
  @include breakpoint(medium down) {  
    padding: 0;
    margin: 0;
  }
  .container  { 
    @include breakpoint(medium) {
      border-left: solid 1px #ccc;
      border-right: solid 1px #ccc;
      padding: rem-calc(0 3 40 3);// top right bottom left
    }
    padding: rem-calc(0 3 40 3);// top right bottom left
    //margin: rem-calc(5 0 20 0); // top right bottom left
    background: #fafafa;
  }
  main {
    @import "headings";
    @import "error";
    @import "skills-carousel";
    a:not([class]) {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    > p:not([class]), > blockquote:not([class]) {
      text-align: justify;
    }
    > p:not([class]), > blockquote:not([class]), > .button { 
      margin: rem-calc(5 25 15 25);
    }
    > .button-group {
      margin: 0 auto; 
      //width: 180px;  
      display: flex; 
      justify-content: center; 
      a:first-child {
        @include border-left-radius(3px);
      }
      a:last-child {
        @include border-right-radius(3px);
      }
    }
    hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    &.why {
      background-image: url('../samiholck/pics/crossbones.svg');
      background-repeat: no-repeat;
      background-position: center 5%;
      @include background-size(90% 90%);
    }
    blockquote {
      //background: #f9f9f9;
      border-left: 5px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
    }
    blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 3em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    blockquote p {
      display: inline;
    }
  }
}

@import "footer";
